[user]
	email = ryantam626@gmail.com
	name = Ryan Tam
[alias]
	rbm = !git fetch origin && git rebase origin/master
	dm = diff master...
	zco = "!f() { git checkout $(git bls \"$@\"|grep -v '^*'|fzf|awk '{print $1}'); }; f"
[stash]
	showPatch = true
[rebase]
	autosquash = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
