[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=60
ExecStart=/usr/local/bin/kmonad /home/ryan/dotfiles/dotfiles/kmonad/keymaps/a1.kbd
Nice=-20

[Install]
WantedBy=default.target
