[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/kmonad /home/ryan/dotfiles/dotfiles/kmonad/keymaps/ducky2-remap.kbd
Nice=-20

[Install]
WantedBy=default.target
